body {
	margin: 0px;
	padding: 0px;
}

.engineLight {
	position: absolute;
	top: 77.5%;
	left: 1.5%;
	width: 3%;
	height: 3%;
	flex-direction: column;
}

.engineLight>div {
	width: auto;
	height: 100%;

}

#greenEngineLight {
	opacity: 0.8;
}

#greenEngineLight img {
	width: inherit;
	height: inherit;
	opacity: inherit;
}

#yellowEngineLight img {
	width: inherit;
	height: inherit;
	opacity: 1.0;
}

#redEngineLight img {
	width: inherit;
	height: inherit;
	opacity: 1.0;
}

.headLights {
	position: absolute;
	top: 77.5%;
	left: 3.5%;
	width: 3%;
	height: 3%;
	flex-direction: column;
}

.headLights div, img {
	width: auto;
	height: 100%;
}

#headLightsOff {
	opacity: 0.8;
}

.turnLights {
	position: absolute;
	top: 77.5%;
	left: 5.8%;
	width: 3%;
	height: 3%;
	flex-direction: column;
}

.turnLights div, img {
	position: absolute;
	width: auto;
	height: 100%;
	opacity: 0.8;
}

#turnOff {
	z-index: -1;
}

.seatbeltLight {
	position: absolute;
	top: 77.5%;
	left: 9%;
	width: 3%;
	height: 3%;
    flex-direction: column;
}

.seatbeltLight div, img {
	position: absolute;
	width: auto;
	height: 100%;
	opacity: 0.8;
}

#seatbeltOn {
    z-index: -1
}

.blink-image {
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 